<section id="sobre-nosotros" class="py-5 bg-light">
  <div class="container">
    <h2 class="text-center mb-4">Sobre Nosotros</h2>
    <p class="lead">Bienvenidos a nuestro gimnasio, donde nos dedicamos a promover un estilo de vida saludable y activo. Contamos con instalaciones modernas, clases variadas y entrenadores capacitados para ayudarte a alcanzar tus objetivos.</p>
    <p>En nuestro gimnasio, encontrarás actividades como Yoga, Box, Spinning, Pilates, y Zumba, además de un área completamente equipada para entrenamientos de fuerza y resistencia. Nos enorgullece brindar un ambiente inclusivo y motivador para personas de todas las edades y niveles de condición física.</p>
    <hr>
    <div class="formulario">
      <h3>Registro al gimnasio</h3>
      <form (ngSubmit)="agregarCliente()">
        <div class="mb-3">
          <label>Nombre:</label>
          <input [(ngModel)]="nombre" name="nombre" class="form-control" required>
        </div>
        <div class="mb-3">
          <label>Edad:</label>
          <input [(ngModel)]="edad" name="edad" type="number" min="15" class="form-control" required>
        </div>
        <div class="mb-3">
          <label>Membresía:</label>
          <select [(ngModel)]="membresia" name="membresia" class="form-select" required>
            <option value="" disabled selected>Selecciona una opción</option>
            <option value="mensual">Mensual</option>
            <option value="trimestral">Trimestral</option>
            <option value="anual">Anual</option>
          </select>
        </div>
        <div class="mb-3">
          <label>Actividades:</label><br>
          <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" value="Zumba" [(ngModel)]="actividades" name="actividades">
            <label class="form-check-label">Yoga</label>
          </div>
          <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" value="Spinning" [(ngModel)]="actividades" name="actividades">
            <label class="form-check-label">Box</label>
          </div>
          <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" value="Pilates" [(ngModel)]="actividades" name="actividades">
            <label class="form-check-label">Spinning</label>
          </div>
          <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" value="Boxeo" [(ngModel)]="actividades" name="actividades">
            <label class="form-check-label">Pilates</label>
          </div>
          <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" value="Pesas" [(ngModel)]="actividades" name="actividades">
            <label class="form-check-label">Gym</label>
          </div>
          <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" value="Pesas" [(ngModel)]="actividades" name="actividades">
            <label class="form-check-label">Zumba</label>
          </div>
        </div>
        <div class="mb-3">
          <label>Género:</label><br>
          <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" value="Masculino" [(ngModel)]="genero" name="genero" required>
            <label class="form-check-label">Masculino</label>
          </div>
          <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" value="Femenino" [(ngModel)]="genero" name="genero" required>
            <label class="form-check-label">Femenino</label>
          </div>
        </div>
        <div class="mb-3">
          <label>Fecha de registro:</label>
          <input [(ngModel)]="fechaRegistro" name="fechaRegistro" type="date" [min]="fechaActual" class="form-control" required>
        </div>
        <button class="btn btn-primary" type="submit">Registrar</button>
      </form>
    </div>
  </div>
</section>