<footer class="footerperz text-white text-center text-lg-start mt-2">
    <div class="container p-4">
      <div class="row">
        <!-- Sección: Información -->
        <div class="col-lg-6 col-md-12 mb-4 mb-md-0">
          <h5 class="text-uppercase">FIT Aguascalientes</h5>
          <p>
            FIT Aguascalientes fue creado exclusivamente para un proyecto universitario
          </p>
        </div>
  
        <!-- Sección: Enlaces -->
        <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
          <h5 class="text-uppercase">Enlaces</h5>
          <ul class="list-unstyled mb-0">
            <li><a href="#!" class="text-white">Inicio</a></li>
            <li><a href="#!" class="text-white">Servicios</a></li>
            <li><a href="#!" class="text-white">Contacto</a></li>
            <li><a href="#!" class="text-white">Acerca de</a></li>
          </ul>
        </div>
  
        <!-- Sección: Redes Sociales -->
        <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
          <h5 class="text-uppercase">Síguenos</h5>
          <a href="#" class="text-white me-3">Facebook</a>
          <a href="#" class="text-white me-3">Instagram</a>
          <a href="#" class="text-white">Twitter</a>
        </div>
      </div>
    </div>
  
    <!-- Línea inferior -->
    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
      © 2025 TuSitio.com
    </div>
  </footer>
  